
main{
    border:1px solid red;
    width: 68%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1036px;
    
}
.cardGroup{
    width: 300px;
    height: 430px;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.card{
    box-sizing: border-box;
}
.card > img{
    margin:0 auto;
}
.imgCard{
    width: 100%;
    height: 280px;
    display:flex;
    align-items: center;
    justify-items: center;
}
.cardBody{
 
    padding: 5px;
  box-sizing: border-box;;
}

.cardBody > p{
    font-size: 14px;
    text-align: justify;
}
.cardTitle{
    margin:0;
    font-size: 24px;
}
